services:
  tidbyt-assistant:
    image: tidbyt-assistant
    build:
      context: .
      args:
        - BUILD_FROM=ghcr.io/home-assistant/amd64-base:3.21
        - GO_VERSION=1.24.1
    ports:
      - 9000:9000
